# Archivos generados en Mac
**DS_Store*
**._*

# Archivos auxiliares de IDEs
.Makefile.swp
**.vscode/*
.idea
cmake-build-debug
CMakeLists.txt
**.out

# Archivos de los contenedores
/filezilla/*
/server/*
